Source: ros-kinetic-leuze-phidget-driver
Section: misc
Priority: optional
Maintainer: Ludovic Delval <ludovic.delval@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-leuze-msgs, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-leuze-phidget-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-leuze-msgs, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The phidget interface kit driver package for leuze lasers
